<% if(errors_msg.length > 0) { %>
<div class="row">
    <div class="col">
        <div class="alert alert-danger">
                <p><%= errors_msg %><br> algo</p>

        </div>
    </div>
</div>
</div>
<% } %>