<% if(errors_msg.length > 0) { %>
<div class="row mt-4">
    <div class="col">
        <div class="alert alert-danger">
                <p><%= errors_msg %><br></p>

        </div>
    </div>
</div>
</div>
<% } %>

<% if(success_msg.length > 0) { %>
<div class="row mt-4">
    <div class="col">
        <div class="alert alert-success">
                <p><%= success_msg %><br></p>

        </div>
    </div>
</div>
</div>
<% } %> 